extends ./modules/_core

block head
  +head()

block body
  .overlay-mobile 
  #main-wapper
    .container 
      .row 
        .col-3 
          +sidebar()
        .col-9
          +content()






   



