//-------------------------------------------------------
//- COMPONENT :: CARD STAST
//-------------------------------------------------------

.card {
  color: $cl-white;
  border-radius: 3px;
  $name: &;

  &__body{
    padding: 1rem;
    text-align: left;

    #{$name}__title{
      color: $cl-card-title;
      font-size: 0.75rem;
      letter-spacing: .15em;
      text-transform: uppercase;
    }
    
    #{$name}__number{
      font-size: 2rem;
      line-height: $line-height-base;
      font-weight: $font-weight-normal;
    }
    #{$name}__indicator{
      display: inline-block;
      padding: .4em;
      font-size: 12px;
      line-height: $line-height-base;
      margin-left: 0.5rem;
        
      &--increase{
        &::after{
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 0;
          border-bottom: 4px solid;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
        }
      }
      &--decrease {
        &::after {
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: 2px;
          vertical-align: middle;
          border-top: 4px solid;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;          
        }
      }
    }
  }
  &__line{
    margin-top: 30px;
    margin-left: -1rem;
    margin-right: -1rem;
    border: 0;
    border-top: 1px solid;
    border-top-color: $cl-border-line;
  }
}