//-------------------------------------------------------
//- COMPONENT :: CONTENT
//-------------------------------------------------------
body {
  margin: 0;
	font-family: "Roboto",sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1.5;
  color: #cfd2da;
  text-align: left;
  background-color: #252830;
}

#main-wapper{
	padding-top: 50px;
	padding-bottom: 50px;
}

.main-body {

}