//-------------------------------------------------------
//- COMPONENT :: SIDEBAR
//-------------------------------------------------------

.left-sidebar {
  transition: width .25s ease-in;
  margin-right: 40px;
  
  // Logo

  .logo {
    padding-bottom: 20px;

    &__link{
      display: inline-block;
      color: $cl-logo;
      font-size: 30px;
      transition: all 0.4s;

      &:hover {
        color: $cl-logo-hover;
      }
    }
  }

  &__toggle {

    display: none;
  }

  &__collapse {

    //Search Form

    .search-form  {
      position: relative;
      margin-bottom: 30px;  

      &__field {
        padding-left: 15px;
        padding-right: 15px;
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 0.9rem;
        line-height: $line-height-medium;
        color: $cl-white;
        background-color: $cl-gray;
        background-clip: padding-box;
        border: 1px solid $cl-gray;
        border-radius: 0.25rem;

        &:focus {
          color: $cl-field;
          background-color: $cl-white;
          border-color: $cl-boder-field;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(25, 151, 198, 0.25);
        }
      }

      &__icon {
        position: absolute;
        top: 4px;
        right: 0;
        padding: 9px 10px;
        color: $cl-icon;
        border: 0;
        line-height: 0;
        background: none;
        font-size: 11px;
      }
    }

    //Main-menu 

    .main-menu {

      &__header {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 5px;
        font-size: 85%;
        font-weight: normal;
        letter-spacing: 1px;
        color: $cl-logo;
        text-transform: uppercase;
        margin-top: 20px;
      }

      &__item {
        &--active {
          background-color: $cl-blue;
          border-radius: 0.25rem; 
          
          > a{
            color: $cl-white;
          }
        }
      }

      &__link {
        display: block;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem; 
        transition: all 0.25s;
        font-weight: $font-weight-small;
        color: $cl-white-gray;
        cursor: pointer;
        font-size: 0.9rem;
    
        &:hover, 
        &:focus,
        &:active {
          color: $cl-white;
        }
      }
    }
  }
  
  &__line {
    margin-top: 1rem;
    margin-bottom: 30px;
    border-top: 1px solid $cl-gray;
    color: $cl-white-gray;
    border: 0;
    border-top: 1px solid $cl-gray;
  }
}

